.alert-text {
  font-size: 22px;
  line-height: 1.1322em;
  color: var(--alert-color);
}

.crephusa {
  font-size: 14px;
  line-height: 1.2142857em;
}

.maria {
  font-size: 24px;
  line-height: 1.2083333em;
}

.oronia {
  line-height: 1.2222222em;
}

.section-caption {
  font-size: 36px;
  line-height: 1.2222222em;
}

.italico {
  line-height: 1.2222222em;
  font-weight: 500;
  font-style: italic;
}