:root {
  --color-yellow: #F3DA6B;
  --color-light-green: rgba(115, 117, 16, 0.71);
  --color-green: rgba(136, 139, 34, 0.88);
  --color-dark-green: #464512;
  --color-gray: #FFFCE3;
  --color-white: #FFF;
  --color-main-bg: #F1F1EF;
  --color-promo-bg: #F6F6F4;
  --color-orange: #CB7315;
  --color-light-orange: #ED8A19;
  --color-alert: red;
  --color-green-opacity: rgba(123, 114, 42, 0.13);
}
